@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}
//from .. estado que ele está .. to .. estado que ele vai
@keyframes appear {
  0% {
    transform: translate(-100%);
  }
  100%{
    transform: translate(0);
  }
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;

  flex-direction: column;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
   max-width: 100%;
  padding: 23px;
   }

.menu-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  
  a {
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: greenyellow;
      transition: 0;
    }
  }
}

button {
          border-radius: 999px;
          border: none;
          font-weight: 700;
          font-size: 15px;
          background-color: transparent;
          overflow: hidden;
          position: relative;

      

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          padding: 16px ;
          border-radius: 999px;
          height: 100%;
          width: 100%;
          }
          .btn-face-white {
              color: rgb(51, 51, 51);
              background: white; 
              z-index: 998;
           
          }

          .btn-face-purple {
              color: rgb(243, 243, 243);
              background: linear-gradient(180deg, #1ea483 0%, #7465d4 100%);
              display: none;
              z-index: 999;
              position: absolute;
              top: 0;
            
           
              // animation: appear 200ms linear 100ms forwards;
              
          }

                &:hover {

                  // .btn-face-white {
                  //   display: none;
                   
                  // }
                  .btn-face-purple {
                    display: flex;
                    z-index: 998;
                   
                    animation: appear 200ms linear 100ms forwards;
                  }
                }
       }
}

