@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}
@keyframes balance { 
0% {
  transform: rotate(890deg);
}
100% {
  transform: rotate(10deg);
}
}
@keyframes balance2 { 
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
  }
@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
//from .. estado que ele está .. to .. estado que ele vai
@keyframes appear {
  0% {
    transform: translate(-100%);
    background: rgb(255, 255, 255); 
    color: #1f2020;
  }
  100%{
    transform: translate(0);
    background: linear-gradient(180deg, #1ea483 0%, #7465d4 100%);

  }
}

main {
  min-height: 100vh;
  width: 98vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
   max-width: 100%;
  padding: 50px;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  box-sizing: content-box;
 
    
    width: 100%;
    background-color: #1f2020;
    
    &:hover {
      background-color: #0b0c0c;
    }
    .menu-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
     
      
      a {
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        color: #1ea483;
        text-decoration: none;
        background-color:#0ee757;
        border-radius: 999px;
        padding: 22px;
       height: 33px 33px;
       width: 200px;
       display: flex;
       justify-content: center;
       align-items: center;
       
      }
    }
    button {
      border-radius: 999px;
      border: none;
      font-weight: 700;
      font-size: 15px;
      background-color: transparent;
      overflow: hidden;
      position: relative;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      padding: 16px ;
      height: 100%;
      width: 100%;
      }

      .btn-face-white {
          color: rgb(51, 51, 51);
          background: white; 
          z-index: 998;
       
      }
      .btn-face-purple {
        
          display: none;
          z-index: 999;
          position: absolute;
          top: 0;              
          
      }
            &:hover {

              .btn-face-purple {
                display: flex;
                z-index: 998;
                border: none;
                color: white;
               
                animation: appear 200ms linear 10ms forwards;
              }
            }
       }
   }

       .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        gap: 30px;
        margin-top: 200px;
        flex-grow: 1;
        padding: 32px;

        .heading-container{
         display: flex; 
         justify-content: center;
         flex-direction: column;

         :first-of-type {
          align-self: flex-end;
          font-size: 7rem;
          color: #0ee757;
          max-height: 150px; 
          margin-left: 409px;
      }

         h2 {
          font-size: 8rem;
          color: rgb(192, 189, 188);
          font-weight: 800;
          align-self: flex-start;
        }
      }
     

      .bubble {
        // background-color: rgba(87, 110, 106, 0.4431372549);
        border-radius: 999px;
        font-size: 163px;
        padding: 30px;
        justify-content: center;
        position: absolute;

        &.naves {
          top: 47%;
          margin-left: 1176px;
          font-size: 100px;
          // transform: rotate(14deg);
          // animation: wobble 2s ease infinite;
           animation: balance 8s alternate 2ms infinite;
          
         
         
          
        }
        &.disco {
          top: 22%;
          right: 64%;
          margin-left: 1px;
          transform: rotate(20deg);
          animation: gelatine 4.5s infinite;
         
        }
        &.bora {
          top: 42%;
          margin-left: -1199px;
          font-size: 56px;
          transform: rotate(307deg);
          animation: balance2 500ms alternate 1ms infinite;
          // animation: spin 10s infinite linear;
        
        }
        &.duende {
          top: 35%;
          margin-left: -973px;
          font-size: 90px;
          transform: rotate(7deg);
          animation: balance2 500ms alternate 1ms infinite;
        
        }

        }
 
       }
}

